/* filepath: /home/valentinbctt/code/ValentinBctt/o-jaune/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Octosquares';
  src: url('./assets/fonts/TT-Octosquares-Trial-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono';
  src: url('./assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(17, 17, 17);

  overflow-x: hidden;
}

::selection {
  background: var(--jaune);
  color: var(--bg);
}


:root {
  --jaune: #f5d821;
  --jaune-fonce: #9d8a0c;
  --bg: rgb(25, 25, 25);

  --pixel:  10.67px 0 var(--bg), -10.67px 0 var(--bg), 0 -10.67px var(--bg), 0 10.67px var(--bg), 2.67px 0 0 5.33px var(--bg), -2.67px 0 0 5.33px var(--bg), 0 -2.67px 0 5.33px var(--bg), 0 2.67px 0 5.33px var(--bg), 13.33px 0 var(--jaune), -13.33px 0 var(--jaune), 0 -13.33px var(--jaune), 0 13.33px var(--jaune), 0 0 0 8px var(--jaune), 0 5.33px 0 5.33px var(--jaune), 0 -5.33px 0 5.33px var(--jaune), 5.33px 0 0 5.33px var(--jaune), -5.33px 0 0 5.33px var(--jaune);
  --gradient-box: linear-gradient(to bottom, #111111, #151515, #181818, #1c1c1c, #1f1f1f);
}

h1 {
  font-family: 'Octosquares';
  color: var(--jaune);
  font-size: 4rem;
  margin: 0 1rem
}

h2 {
  font-family: 'Octosquares';
  color: rgb(17, 17, 17);
  text-shadow:
  1px 1px 0px var(--jaune),   /* Ombre en haut à gauche */
  -1px 1px 0px var(--jaune),  /* Ombre en bas à gauche */
  1px -1px 0px var(--jaune),  /* Ombre en haut à droite */
  -1px -1px 0px var(--jaune); /* Ombre en bas à droite */
  font-size: 3rem;
  margin: 1rem 1rem;
}


/* Ajout du compteur de lettres en bas de la div */
.letter-counter {
  color: var(--jaune);
  font-size: 0.8rem;
  text-align: right;
  margin: 0.5rem 1rem;
}


h3 {
  font-family: 'SpaceMono';
  color: var(--jaune);
  font-size: 2rem;
  margin: 3rem 1rem 1rem 1rem;
}

h4 {
  font-family: 'SpaceMono';
  color: white;
  font-size: 1.5rem;
  margin: 1rem 1rem;
}

p {
  font-family: 'SpaceMono';
  color: white;
  font-size: 1rem;
  margin: 1rem 1rem
}

.titles {
  font-family: 'SpaceMono';
  color: var(--jaune);
  font-size: 2rem;
  margin: 3rem 1rem 1rem 1rem;
}

.video-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.navbar {
  display: flex;
  width: 80%; /* Ajustez cette valeur selon vos besoins */
  height: 60px; /* Ajustez cette valeur selon vos besoins */
  align-items: center;
  margin: 2rem auto; /* Centrer horizontalement */
  justify-content: center; /* Centrer le contenu à l'intérieur */
  position: absolute; /* Positionner la navbar absolument */
  top: 0; /* Ajustez cette valeur selon vos besoins */
  left: 50%; /* Centrer horizontalement */
  transform: translateX(-50%); /* Centrer horizontalement */
  z-index: 1; /* Assurez-vous que la navbar est au-dessus de la vidéo */
}

.navbar ul {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px); /* Ajoute un effet de flou */
  list-style: none;
  margin: 0;
  padding: 1rem 3rem;
  border-radius: 3rem;
  gap: 1rem;
  height: 100%;
  width: 70%;
  z-index: -1;
  justify-content: center; /* Centrer les éléments horizontalement */
}

.navbar li {
  font-family: "SpaceMono";
  font-weight: 300;
  color: var(--jaune);
  padding: 0 15px; /* Ajoutez du padding pour espacer les éléments */
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.navbar li:hover::before {
  content: '▶';
  color: var(--jaune);
  position: absolute;
  left: -5%; /* Position 5 pixels to the left */
  font-size: 1rem; /* Adjust the size as needed */
}

.hamburger {

  color: var(--jaune);

  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Masqué par défaut */
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (max-width: 1200px) {
  .navbar ul{
    gap: 1rem;

    width: 90%;
  }
}


@media (max-width: 900px) {
  .hamburger {
    display: block; /* Affiché sur les petits écrans */
    font-family: "SpaceMono";
    font-size: rem;
  }

  .navbar ul {
    display: none; /* Masqué par défaut sur les petits écrans */
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 25rem;
    width: 300px;
    margin-top: 0.5rem;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 2rem;
    border-radius: 10px; /* Supprimez les coins arrondis pour le menu mobile */
  }

  .navbar ul.open {
    display: flex; /* Affiché lorsque le menu est ouvert */
    transform: translateX(0);
  }

  .navbar ul li {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 1rem 0; /* Ajoutez du padding pour espacer les éléments */
  }
}


.O-Jaune {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  width: 45%;
  margin: 3rem auto 3rem 3rem; ;
  color: white;
  z-index: 4;
  padding: 1rem;
  border-radius: 1rem;
}

.event {
  background-image: url("./assets/anneautore.png");
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Empêcher la répétition de l'image */
  background-size: 125%; /* Agrandir encore le background size */

}

.event a {
  margin: 1rem auto 2rem auto;
  font-family: 'SpaceMono';
  color: var(--jaune);
  border: solid 2px var(--jaune);
  background-image: linear-gradient(to right top, #0c0c0c, #101010, #131313, #161616, #181818);

  padding: 0.8rem 0.8rem;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  grid-column: 1 / -1; /* S'étendre sur les deux colonnes */
  justify-self: center; /* Centrer horizontalement */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Effet de transition */

  &:hover{
    background-image: none;
    background-color: var(--jaune);
    color: var(--bg);
    border: solid 2px var(--bg);
      box-shadow: 4px 4px 0px var(--jaune); /* Grande ombre pleine */

  }
  &:active {
    transform: scale(0.97); /* Réduire la taille de l'élément */
  }
}


.event-content {
  background-color: var(--bg);
  width: 55%;

  display: grid;
  grid-template-columns: auto 1fr;

  margin: 1rem auto;
  box-shadow: var(--pixel)
}

.event-content p {
  padding: auto 1rem auto 1rem;
  font-size: 0.8rem;
  grid-column: 2 / 3;
}

.video-affiche {
  width: 15rem;
  padding: 4rem 1rem 0 2rem;

  grid-column: 1 / 2;
}

.video-affiche video {
  border-radius: 10px;
}



.contact {

  background-color: var(--bg);
  margin: 4rem auto 2rem auto;
  width: 50%;
  box-shadow: var(--pixel);
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.contact a {
  font-family: 'SpaceMono';
  color: var(--jaune);
  padding: 0.8rem 0.8rem;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  grid-column: 1 / -1; /* S'étendre sur les deux colonnes */
  justify-self: center; /* Centrer horizontalement */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Effet de transition */
  padding-left: 3rem;


  &:hover {
    &:hover::before {
      content: '▶';
      color: var(--jaune);
      position: absolute;
      left: 29%; /* Position 5 pixels to the left */
      font-size: 1rem; /* Adjust the size as needed */
    }
  }

}

.contact li {
  margin-bottom: 1rem;
}

.nos-soirees {
  margin-top: 2rem;
}

.nos-soirees h2 {
  display: flex;
  justify-content: center;
}

.soirees {
  margin: 1rem auto 2rem auto;
  width: 80%;

  background-color: var(--bg);
  box-shadow: var(--pixel);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 1rem;
  cursor: pointer;
}

.soiree h4 {
  margin: 0rem 0.5rem !important;
}

.soiree p {
  margin: 0.3rem 0.5rem !important;
  padding-top: 0.7rem;
}

.soiree {
  width: 16rem;
  padding: 0rem 0.5rem 0.5rem 0.5rem;

  border-radius: 10px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--jaune);
  }

  &:hover p {
    color: var(--bg);
  }

  &:hover h4 {
    color: var(--bg);
  }
}

.affiche-d {
  display: flex;
  padding: 0 auto;
  width: 13rem;
  justify-content: center;
  margin: 0 auto; /* Centrer horizontalement */
}

.soiree-list {
  grid-column: 1 / 2;
}

.selected-soiree-photos {

  z-index: 1;
  margin-bottom: 2rem;
}
.selected-soiree-photos img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem; /* Ajoute des coins arrondis aux images */
  transition: transform 0.5s ease; /* Effet de transition */
  margin-bottom: 10px;

  &:hover {
    transform: scale(1.2); /* Agrandir l'image */
  }
}

/* Personnalisation de la barre de défilement */
.selected-soiree-photos {
  overflow-x: scroll;  /* Défilement horizontal */
  overflow-y: hidden;  /* Empêche le défilement vertical */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; /* Ajoute le snap scrolling */
}

.selected-soiree-photos img {
  scroll-snap-align: start; /* Aligne chaque image au début du conteneur */
}

/* Personnalisation du scrollbar */
.selected-soiree-photos::-webkit-scrollbar {
  height: 8px; /* Hauteur de la barre de défilement (horizontal) */
  width: 12px; /* Largeur de la barre de défilement (vertical) */
}

/* Personnalisation de la partie "thumb" de la barre de défilement */
.selected-soiree-photos::-webkit-scrollbar-thumb {
  background-color: var(--jaune); /* Couleur de la barre de défilement */
  border-radius: 10px; /* Coins arrondis de la barre */

}

/* Personnalisation de la partie "track" de la barre de défilement */
.selected-soiree-photos::-webkit-scrollbar-track {
  background: #1e1e1e; /* Couleur de l'arrière-plan de la barre */
  border-radius: 10px; /* Coins arrondis du rail */
}

/* Personnalisation du hover (au survol de la barre de défilement) */
.selected-soiree-photos::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change la couleur du thumb au survol */
}


.awssld {
  height: 100%; /* Forcing the slider to take up the full height of the viewport */
  display: flex;
  flex-direction: column; /* Align items vertically */
  background-color: transparent !important; /* Enlever la couleur de fond */
  border-radius: 10px; /* Ajouter un border radius */
}

.awssld__wrapper {
  display: flex;
  flex-direction: column; /* Align slides vertically */
  border-radius: 10px; /* Ajouter un border radius */
}

.awssld__slide {
  height: 100%; /* Each slide takes up the full height */
  border-radius: 10px; /* Ajouter un border radius */
}

.awssld__content {
  display: flex;
  align-items: center; /* Vertically align content */
  justify-content: center; /* Horizontally align content */
  border-radius: 10px; /* Ajouter un border radius */
  background-color: transparent !important; /* Enlever la couleur de fond */
}

.awssld {
  --content-bckground-color: transparent !important; /* Couleur de fond du contenu */
}
/* Changer la couleur des points */
.awssld__dots {
  bottom: 10px; /* Optionnel : ajuster la position des points */
}

.awssld__dot {
  background-color: #3498db !important; /* Changer la couleur des points */
  width: 6px !important; /* Changer la taille des points */
  height: 6px !important; /* Changer la taille des points */
  border-radius: 50% !important; /* Garder la forme ronde des points */
  margin: 0 8px 1rem 0 !important; /* Ajuster l'espacement entre les points */
  transition: all 0.3s ease; /* Ajouter une animation de transition */
}

.awssld__bullets button {
  width: 6px !important;
  height: 6px !important;
  margin-bottom: 2rem!important;
}
/* Changer la couleur du point actif (lorsqu'il est sélectionné) */
.awssld__bullets .awssld__bullets--active  {
  background-color: var(--jaune) !important; /* Couleur du point actif */
  transform: scale(1.5); /* Agrandir le point actif */
}



.awssld__controls__arrow-left, .awssld__controls__arrow-right {
  height: 20px!important;
  margin: 0 1rem!important;

    &:hover soiree {
      background-color: var(--jaune);
    }
}

.awssld__controls button {
  width: 15%!important;
}
