
@media (max-width: 810px) {

    h2 {
      word-wrap: break-word;
      max-width: 8ch; /* Ensures a maximum of 12 characters per line */
      justify-content: center;
      text-align: center; /* Center the text on the page */
      margin: 2rem auto;
    }



  .O-Jaune {
    width: 90%;
    margin: 1rem auto;
  }
  .event-content {

    width: 80%;
    display: flex;
    flex-direction: column;
  }



  .video-affiche {
    padding: 1rem;
    width: auto;
  }



  .soirees {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .awssld {
    height: 25rem; /* Forcing the slider to take up the full height of the viewport */

  }

.contact {
  width: 80%;
  padding-left: 0!important;
}

.contact a{

  padding-left: 1rem!important;
}



}
